<%= link_to "Back", parents_children_path() %>
<br>
<h3>Weekly Schedules for <%= @child.name %></h3>
<hr>
<div class="clearfix">
  <% @weekly_schedules.each do |week| %>
    <%= link_to parents_child_weekly_schedule_daily_schedule_path(@child, week, week.daily_schedules.first) do%>  
        <div class="cardbox cardbox-hover">
            <div><b>Week #<%= week.start_date.strftime('%Y-%m-%d') %></b></div>
            <% if week.is_published %>
                <div class="badge badge-pill badge-success">Published</div>
            <% end %>
        </div>
    <% end %>
  <% end %>
</div>
