<%= link_to "Add new week", weekly_schedules_path, method:'post', class:"btn btn-primary float-right"%>
<h3>Weekly Schedules</h3>
<hr>
<div class="clearfix">
  <% @weekly_schedules.each do |week| %>
    <div class="cardbox">
      <%= link_to "Publish", edit_weekly_schedule_daily_schedule_path(week, week.daily_schedules.first), class:"btn btn-outline-primary float-right"%>
      <div><b>Week #<%= week.start_date.strftime('%Y-%m-%d') %></b></div>
    </div>
  <% end %>
</div>
