<%= link_to "Add new week", weekly_schedules_path, method:'post', class:"btn btn-primary float-right"%>
<h3>Weekly Schedules</h3>
<hr>
<div class="clearfix">
  <% @weekly_schedules.each do |week| %>
    <div class="cardbox">
      <div class="btn btn-outline-primary float-right">Publish</div>
      <div><b>Week #<%= week.start_date.strftime('%Y-%m-%d') %></b></div>
    </div>
  <% end %>
</div>
