<%= render 'heading' %>
<hr>
<div class="clearfix">
  <div class="row d-flex justify-content-center">
    <%= render 'daily_schedules_list' %>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <%= render 'activities_list' %>
    </div>
  </div>
</div>