/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 header {
    background-color: #8b18ce;
 }

 body {
    background-color: yellow;
 }

 .main-container{
    padding: 40px;
    margin-top: 30px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: #f3d36b;
    box-shadow: 5px 10px;
 }

 
.cardbox {
    margin: 10px;
    padding: 10px;
    width: 220px;
    height: 150px;
    float: left;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #7fd8fc;
    box-shadow: 5px 10px;
    color: #000000;
    text-decoration: none;
}

.cardbox.cardbox-small {
   width: 160px;
   height: 100px;
}

.cardbox-block {
   width: 100%;
}
.cardbox-active {
   background-color: #a771da;
}

.right-border {
   padding-right: 50px; 
   border-right: 3px solid #000000;
}

.new-activity-form {
   padding-left: 15px;
}