<h3>Schedule for Week <%= @weekly_schedule.start_date.strftime('%Y-%m-%d') %></h3>
<hr>
<div class="clearfix">
  <div class="row">
    <div class="col-lg-3 left-master">
      <% @weekly_schedule.daily_schedules.each do |day| %>
      <%= link_to edit_weekly_schedule_daily_schedule_path(@weekly_schedule, day) do%>
        <div class="cardbox <%= 'cardbox-active' if @daily_schedule == day %>">
          <div><b><%= day.date.strftime('%A, %Y-%m-%d') %></b></div>
        </div>
      <% end %>
      <% end %>
    </div>
    <div class="col-lg-9">
    </div>
  </div>
</div>
