<%= render 'weekly_schedules/heading' %>
<hr>
<div class="clearfix">
  <div class="row d-flex justify-content-center">
    <%= render 'list' %>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <%= render 'activities/list' %>
    </div>
  </div>
</div>
