<!DOCTYPE html>
<html>
  <head>
    <title>SunshineDaycare</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-yellow">
        <div class="container">
          <div class="navbar-brand">Sunshine Daycare</div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Scheduling</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Employees</a>
              </li>
            </ul>
          </div>
          <ul class="navbar-nav navbar-right">
            <li class="nav-item">
              <a class="nav-link" href="#">Logged in as Manager</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container main-container">
      <%= yield %>
    </div>
  </body>
</html>
